@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

.project-hot-ribbon {
    width: 72px;
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.project-hot-ribbon span {
    position: absolute;
    display: block;
    width: 115px;
    padding: 5px 0;
    background-color: #3498db;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #fff;
    font: 700 18px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: center;
    right: -10px;
    top: 10px;
    transform: rotate(-45deg);
    z-index: 2;
}

.wrapper {
    min-width: 1024px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-wrapper {
    padding: 32px 0;
    border-bottom: 1px solid #ddd;
    background-color: #fcfaf9;
}

.header-wrapper .header {
    width: 1000px;
    margin: 0 auto;
}

.writer {
    zoom: 1;
    overflow: auto;
    overflow-x: hidden;
    margin: 0;
    height: 106px;
}

.writer .profile {
    float: left;
    width: 102px;
    height: 102px;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 100%;
}

.writer .profile .img {
    border-radius: 100%;
}

.writer .profile .img,
.writer .profile img {
    width: 100px;
    height: 100px;
}

.writer .profile .img {
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: 50%;*/
    background-position-y: 18%;
}

.writer .info {
    margin-left: 120px;
    font-size: 1.3rem;
    padding-top: 5px;
}

.writer .info .name-wrapper {
    max-height: 33px;
    overflow: hidden;
}

.writer .info .name {
    font-weight: 600;
}

.writer .info .sentence {
    font-size: .95rem;
    font-family: "Noto Serif KR", "serif";
    margin: 3px 0;
    color: #666;
}

.list-content-wrapper {
    padding: 32px 32px 65px;
}

@media only screen and (max-width: 1024px) {
    .wrapper {
        min-width: 300px;
        max-width: 768px;
    }

    .header-wrapper .header {
        min-width: 300px;
        max-width: 768px;
        width: auto;
    }

    .writer {
        margin: 0;
        padding: 0 10px;
        height: 76px;
    }

    .writer .profile {
        float: left;
        width: 72px;
        height: 72px;
    }

    .writer .profile .img {
        width: 70px;
        height: 70px;
    }

    .writer .info {
        margin-left: 80px;
        font-size: 1rem;
        padding-top: 0;
    }

    .writer .info .name-wrapper {
        height: 24px;
        overflow: hidden;
    }

    .writer .info .sentence {
        max-height: 22px;
        overflow: hidden;
    }
}