meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')

link(rel='shortcut icon' href='/static/images/taeyang.png' type='image/x-icon')
link(rel='stylesheet' type='text/css' href='/static/style/normalize.css')

meta(property='og:locale'        content='ko_KR')
meta(property='keywords'        content='JupiterFlow, 개발자, 포트폴리오, 진태양, 개발자포트폴리오, 개발자 포트폴리오')
link(rel='canonical' href='https://jupiterflow.com/project')
meta(property='og:site_name'        content=portfolioData.profile.coverText)
meta(property='og:type' content='website')

meta(name='naver-site-verification' content='866978cb1433ef5da94929559543d9a624f946da')

script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-160190724-3', 'auto');
    ga('send', 'pageview');

script(data-ad-client='ca-pub-1462947422010620' async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css')