meta(charset='UTF-8')
meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible' content='ie=edge')

link(rel='shortcut icon' href='/static/images/jupiter.png' type='image/x-icon')
link(rel='stylesheet' type='text/css' href='/static/style/normalize.css')

meta(property='og:type' content='website')

title= portfolioData.profile.coverText

meta(name='naver-site-verification' content='866978cb1433ef5da94929559543d9a624f946da')

script(data-ad-client='ca-pub-1462947422010620' async src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')